# 전처리 및 토큰화

In [ ]:
# 불용어 리스트 로드
korean_stopwords_path = '/home/kyuyeon/data/stopwords.txt'

# 텍스트 파일을 오픈합니다.
with open(korean_stopwords_path, encoding='utf-8') as f:
	stopwords = f.readlines()
stopwords = [x.strip() for x in stopwords]

In [ ]:
import re

def get_tokens(tagger, text):
    text = re.sub(pattern=r'[^a-zA-Z0-9가-힣 \n]', repl='', string=str(text), flags=re.I)
    tokens = []
    try:
        tokens += tagger.nouns(text)
    except:
        pass
    tokens = [token for token in tokens if token not in stopwords]
    return tokens

In [ ]:
import pandas as pd
from tqdm import tqdm, tqdm_pandas
tqdm_pandas(tqdm())

def preprocessing(tagger):
    df = pd.read_csv('/home/kyuyeon/data/nsmc/ratings.txt', sep='\t')
    df['tokens'] = df['document'].progress_apply(lambda sentence: get_tokens(tagger, sentence))
    df.to_csv('/home/kyuyeon/문서/kmu/23-1/bigdata-latest/movie/data/ratings-' + str(tagger).replace('<', '').split('.')[0] + '.csv', sep=',', index=False)

TqdmDeprecationWarning: Please use `tqdm.pandas(...)` instead of `tqdm_pandas(tqdm(...))`.
0it [06:10, ?it/s]

In [ ]:
for tagger in [okt, mec]:
    preprocessing(tagger)

200000it [01:02, 3203.12it/s]

In [ ]:
df = pd.read_csv('/home/kyuyeon/문서/kmu/23-1/bigdata-latest/movie/data/ratings-okt.csv')
df.head(8)

,id,document,label,tokens
0,8112052,어릴때보고 지금다시봐도 재밌어요ㅋㅋ,1,['보고']
1,8132799,"디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...",1,"['디자인', '학생', '외국', '디자이너', '일군', '전통', '통해', ..."
2,4655635,폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.,1,"['폴리스스토리', '시리즈', '부터', '뉴', '최고']"
3,9251303,와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...,1,"['연기', '진짜', '몰입', '다그', '진짜', '영화']"
4,10067386,안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.,1,"['안개', '밤하늘', '초승달', '영화']"
5,2190435,사랑을 해본사람이라면 처음부터 끝까지 웃을수 있는영화,1,"['사랑', '라면', '처음', '끝', '영화']"
6,9279041,완전 감동입니다 다시봐도 감동,1,"['완전', '감동', '감동']"
7,7865729,개들의 전쟁2 나오나요? 나오면 1빠로 보고 싶음,1,"['전쟁', '빠']"

In [ ]:
type(df['label'][1])

numpy.int64